.gallery {
    h2 {
        max-width: 40ch;
        margin-inline: auto;
        margin-bottom: 3rem;
        text-align: center;
    }
}


.gallery-grid {
    display: grid;
    grid-gap: 7.5px;
    padding-left: 0;
    li {
        list-style: none;
        display: inline-block;
        overflow: hidden;
        background-color: transparent;

        .imageframe {
            display: inline-block;
            z-index: 1;
            overflow: hidden;
            position: relative;
            vertical-align: middle;
            max-width: 100%;
            max-height: 100%;
            line-height: 1;
        }

        img {
            object-fit: cover;
            object-position: center;
            aspect-ratio: 500 / 333;
            transition: all 0.5s ease;
            vertical-align: middle;
            &:hover {
                transform: scale(1.2);
            }
        }
        a {
            background-color: transparent;
            display: block;
            height: 100%;
            transition: all 0.2s ease-in-out;
            width: 100%;
            &:hover {
                background-color: rgba(0, 0, 0, 0.25);
                cursor: zoom-in;
            }
        }
    }

    @media screen and (min-width: 992px) {
        li:nth-child(1),
        li:nth-child(8),
        li:nth-child(11) {
            grid-row-end: span 2;
            grid-column-end: span 2;
        }
        li:nth-child(1),
        li:nth-child(3),
        li:nth-child(6),
        li:nth-child(13) {
            grid-row-end: initial;
            grid-column-end: initial;
        }
        li:nth-child(5n - 2) {
            grid-row-end: span 2 !important;
            grid-column-end: span 2 !important;
        }
        li:nth-child(10n - 2) {
            grid-row-end: initial !important;
            grid-column-end: initial !important;
        }
        li:nth-child(5n + 1) {
            grid-row-end: span 2 !important;
            grid-column-end: span 2 !important;
        }
        li:nth-child(10n + 1) {
            grid-row-end: initial !important;
            grid-column-end: initial !important;
        }
        li:nth-child(1) {
            grid-row-end: initial !important;
            grid-column-end: initial !important;
        }


        grid-template-columns: repeat(
            auto-fill,
            minmax(calc((100% - 22.5px) / 4), 1fr)
        );
        grid-auto-rows: 155px;
        // grid-auto-rows: auto;
    }
}
