.home-hero {
    display: grid;
    @media (min-width: 992px) {
        grid-template-columns: 1fr 1fr;
        height: max(60vh, 650px);
    }
    overflow: auto;

    .carousel-inner {
        height: 100%;
        background-color: var(--clr-dark-900);
        min-height: 400px;
    }
    .carousel-item {
        height: 100%;
        background-size: cover;
        background-position: center;
        @media (min-width: 992px) {
            clip-path: ellipse(100% 150% at 0% 50%);
        }
    }

    &__right {
        background-color: var(--clr-dark-900);
        color: var(--clr-light-100);
        display: grid;
        align-items: center;
    }
    &__right_inner {
        display: grid;
        place-content: center;
        @media (min-width: 900px) {
            max-width: 400px;
            margin-left: 2rem;
        }
    }
    &__logo {
        margin: auto;
        margin-bottom: 1rem;
    }
    &__title {
        font-size: var(--fs-400);
        margin: auto;
        margin-bottom: 1rem;
    }
    &__specialists {
        width: 340px;
        margin-bottom: 0.5rem;
    }
    &__bristol {
        width: 80px;
        margin: auto;
    }
    .carousel-indicators {
        display: none;
    }
}

.hero {
    --hero-height: 70vh;

    height: var(--hero-height);
    z-index: 0;

    .carousel-item {
        img {
            height: var(--hero-height);
            object-fit: cover;
            object-position: center;
        }
    }

    .carousel-indicators {
        button {
            width: 60px;
            height: 10px;
            border: 2px solid var(--clr-light-200);
            background-color: transparent;
            &.active {
                background-color: var(--clr-light-200);
            }
        }
    }

    .overlay {
        z-index: 1;
        position: absolute;
        inset: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 4rem;
        background: linear-gradient(
            180deg,
            rgba(0,0,0,0.70) 0%,
            rgba(255,255,255,0) 30%
        );
    }

    &__title {
        font-size: 25px;
        font-family: var(--ff-heading);
        color: var(--clr-light-300);
    }
    &__logo {
        max-width: 150px;
        margin-bottom: 1rem;
    }
    &__specialists {
        max-width: 90vw;
    }

    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
    // display: grid;
    // place-items: center;
    // overflow: hidden;
    // &__title {
    //     display: block;
    //     text-align: center;
    //     max-width: 820px;
    //     h1 {
    //         color: white;
    //         text-transform: uppercase;
    //         font-size: 1.6rem;
    //         font-size: clamp(1.6rem, 0.32000000000000006rem + 6.4vw, 3.6rem);
    //     }
    // }
    // padding: 6rem 0;

    // &--full {
    //     height: calc(100vh - 200px);
    // }
}