.nav_card {
    text-decoration: none;
    overflow: hidden;
    isolation: isolate;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    &:hover {
        .nav_card__title {
            background-color: var(--clr-light-200);
        }
        .nav_card__hover {
            opacity: 1;
        }
    }
    &__image {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        z-index: -1;
        position: absolute;
        inset: 0;
    }

    &__rollover {
        position: relative;
    }

    &__hover {
        background-color: hsl(var(--hsl-light-200) / 0.9);
        display: grid;
        place-content: center;
        width: 100%;
        aspect-ratio: 16 / 9;
        opacity: 0;
        transition: opacity var(--transition-duration) ease;
        img {
            width: 75%;
            margin-inline: auto;
        }
    }


    &__title {
        transition: all var(--transition-duration) ease;
        background-color: var(--clr-light-300);
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-family: var(--ff-heading);
        font-weight: var(--fw-600);
        text-transform: uppercase;
        text-align: center;
    }
}