.nav_card {
    text-decoration: none;
    overflow: hidden;
    isolation: isolate;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    &:hover {
        .nav_card__title {
            background-color: var(--clr-light-200);
        }
        .nav_card__image {
            filter: grayscale(1);
            transform: scale(1.02);
        }
    }
    &__image {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        transition: all var(--transition-duration) ease;
        z-index: -1;
        position: relative;
    }

    &__title {
        transition: all var(--transition-duration) ease;
        background-color: var(--clr-light-300);
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-family: var(--ff-heading);
        font-weight: var(--fw-600);
        text-transform: uppercase;
        text-align: center;
    }
}