.cs-index {
    .bc {
        a, h1 {
            text-decoration: none;
            font-family: var(--ff-heading);
            color: var(--clr-light-300);
            text-transform: uppercase;
            color: inherit;
            display: inline;
            font-size: inherit;
        }
    }
}
.case_studies {
    h2 {
        max-width: 38ch;
        margin-inline: auto;
        text-align: center;
    }

    h3 {
        font-size: var(--fs-500);
        font-weight: var(--fw-600);
        text-transform: initial;
    }

    &__date {
        font-family: var(--ff-heading);
        font-size: var(--fs-200);
    }
    
    a {
        font-family: var(--ff-heading);
        font-weight: var(--fw-600);
        text-decoration: none;
    }
    .arrowlink {
        &::after {
            content: " >";
            transition: all var(--transition-duration) ease;
        }
        &:hover {
            &::after {
                margin-left: 0.25rem;
            }
        }
    }

    &__image {
        object-fit: cover;
        aspect-ratio: 3 / 2;
        outline: 0.125rem solid white;
        outline-offset: -0.125rem;
    }         

}

.bc {
    text-decoration: none;
    font-family: var(--ff-heading);
    color: var(--clr-light-300);
    text-transform: uppercase;
    color: inherit;
    display: inline;
    font-size: inherit;
}

.single-case-studies {
    .cs-hero {
        position: relative;

    }


    .cs-title {
        font-size: var(--fs-600);
        font-weight: var(--fw-600);
    }
    .cs-date {
        font-size: var(--fs-400);
        font-weight: var(--fw-400);
        font-family: var(--ff-heading);
    }
    .cs-model_image {
        max-height: 90px;
        width: auto;
        max-width: 50%;
        object-position: bottom;
        margin-bottom: 2rem;
    }
    .cs-overview {
        font-family: var(--ff-heading);
        font-weight: var(--fw-400);
        margin-bottom: 1rem;
        strong {
            font-weight: var(--fw-600);
        }
    }

    h2 {
        text-transform: initial;
    }


    .arrowbefore {
        text-decoration: none;
        font-family: var(--ff-heading);
        font-weight: var(--fw-600);

        &::before {
            content: "< ";
            transition: all var(--transition-duration) ease;
        }
    }


    .wp-block-image {
        margin-bottom: 0;
    }

    .wp-block-column {
        .wp-block-image {
            margin-bottom: 1rem;
        }
    }

}