#navbar {

    padding: 0;
    isolation: isolate;
    // .navbar-brand {
    //     margin:0;
    // }

    font-family: var(--ff-heading);
    text-transform: uppercase;
    font-size: var(--fs-400);

    #navigation {
        background-color: var(--clr-dark-800);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding-block: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: flex-start;
        width: 100%;
        .text-end {
            align-self: center;
            margin-right: 1rem;
        }
    }

    a {
        color: var(--clr-light-300);
        transition: opacity var(--transition-duration) ease;
        text-decoration: none;
        position: relative;
        &:not(.navbar-brand):hover {
            opacity: 0.8;
        }
        &::after {
            position: absolute;
            right: 0;
        }
    }

    .current_page_item a {
        text-decoration: underline;
    }
    .current-menu-parent>a {
        text-decoration: underline;
    }


    // @media (max-width:991px) {

    //     .container-xl {
    //         padding: 0;
    //         .d-lg-none.d-flex {
    //             flex: 1;
    //         }
    //     }


    #primaryNav.show {
        z-index: -1;
        display: grid;
        @media (min-width:992px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (min-width:1200px) {
            grid-template-columns: repeat(4, 1fr);
        }

        #main-menu {
            height: 100vh;
            background-color: hsla(0 0% 100% / 0.9);
        }

        #main-menu > li {
            border-bottom: 1px solid var(--clr-light-300);
            padding: 0.25rem 1rem;
            a {
                text-decoration: none;
            }
        }

    }

    .navbarFullLogo {
        min-width: 200px;
        color: var(--clr-light-300);
        img {
            max-height: 120px;
            margin-bottom: 0.5rem;
        }
    }

    // // dropdowns

        .dropdown {
            position: unset;
        }
        .dropdown-menu.show {
            border-radius: 0;
            border: none;
            background: transparent;
            li {
                &.current-menu-item {
                    font-weight: var(--fw-600);
                }
            }
            a {
                text-decoration: none;
            }
            .dropdown-item {
                white-space: normal;
                padding: 0.25rem 0 0.25rem 0.5rem;
            }
        }

    .navbar-toggler {
        color: var(--clr-light-300);
        width: 90px;
        padding: 0;
        // margin-left: 1rem;
        font-family: "Font Awesome 6 Free";
        position: relative;
        &:focus {
            border: none !important;
            box-shadow: none !important;
        }
        .close-icon,
        &.collapsed .close-icon {
            display: none;
        }
        &:not(.collapsed) .close-icon {
            display: inline !important;
        }
        &:not(.collapsed) .navbar-icon {
            display: none !important;
        }
        @media (min-width:768px) {
            &::after {
                position: absolute;
                content: "MENU";
                font-family: var(--ff-heading);
                font-size: var(--fs-100);
                padding-top: 0.25rem;
                padding-left: 0.25rem;
            }
        }
    }
    .navbar-toggler:focus,
    .navbar-toggler:active {
        outline: 0;
    }

    .nav-link {
        padding-block: 0;
    }

    .dropdown-toggle::after {
        transition: transform var(--transition-duration) ease;
    }
    .dropdown-toggle:not(.show)::after {
        transform: rotate(-90deg);
    }

    .collapsing {
        transition: none !important;
    }

}
