#navbar {

    padding: 0;
    isolation: isolate;
    // .navbar-brand {
    //     margin:0;
    // }

    font-family: var(--ff-heading);
    text-transform: uppercase;
    font-size: var(--fs-400);

    #navigation {
        background-color: var(--clr-dark-800);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding-block: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: flex-start;
        width: 100%;
        .text-end {
            align-self: center;
            margin-right: 1rem;
        }
    }

    a {
        color: var(--clr-light-300);
        transition: opacity var(--transition-duration) ease;
        text-decoration: none;
        position: relative;
        &:not(.navbar-brand):hover {
            opacity: 0.8;
        }
        &::after {
            position: absolute;
            right: 0;
        }
    }

    .current_page_item a {
        text-decoration: underline;
    }
    .current-menu-parent>a {
        text-decoration: underline;
    }


    // @media (max-width:991px) {

    //     .container-xl {
    //         padding: 0;
    //         .d-lg-none.d-flex {
    //             flex: 1;
    //         }
    //     }


    #primaryNav.show {
        z-index: -1;
        display: grid;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 9999;
        @media (min-width:992px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width:1200px) {
            grid-template-columns: repeat(3, 1fr);
        }

        #main-menu {
            height: 100vh;
            background-color: hsla(0 0% 100% / 0.9);
            padding-top: 6rem;
        }

        #main-menu > li {
            border-bottom: 1px solid var(--clr-light-300);
            padding: 1rem 1rem 1rem 2rem;
            a {
                text-decoration: none;
                color: var(--clr-black);
            }
        }

    }

    .navbarFullLogo {
        min-width: 200px;
        color: var(--clr-light-300);
        img {
            max-height: 120px;
            margin-bottom: 0.5rem;
        }
        &.logo--short {
            img {
                max-height: 80px;
                margin-bottom: 0;
            }
        }
    }

    // // dropdowns

        .dropdown {
            position: unset;
        }
        .dropdown-menu {
            display: block;
            border-radius: 0;
            border: none;
            background: transparent;
            li {
                a {
                    color: var(--clr-light-900) !important;
                    font-size: var(--fs-200);
                    &::before {
                        content: "/ ";
                    }
                }
                a[aria-current="page"] {
                    color: var(--clr-black) !important;
                    font-weight: var(--fw-600);
                    &::after {
                        display: inline-block;
                        margin-left: 0.255em;
                        vertical-align: 0.255em;
                        content: "";
                        border-top: 0.3em solid;
                        border-right: 0.3em solid transparent;
                        border-bottom: 0;
                        border-left: 0.3em solid transparent;
                        transform: rotate(-90deg);
                    }
                }
            }
            a {
                text-decoration: none;
            }
            .dropdown-item {
                white-space: normal;
                padding: 0.25rem 0 0.25rem 0.5rem;
            }
        }

    .navbar-toggler {
        &.collapsed {
            color: var(--clr-light-300);
        }
        width: 90px;
        padding: 0;
        padding-top: 2rem;
        // margin-left: 1rem;
        font-family: "Font Awesome 6 Free";
        position: relative;
        z-index: 99999;
        &:focus {
            border: none !important;
            box-shadow: none !important;
        }
        .close-icon,
        &.collapsed .close-icon {
            display: none;
        }
        &:not(.collapsed) .close-icon {
            display: inline !important;
        }
        &:not(.collapsed) .navbar-icon {
            display: none !important;
        }
        @media (min-width:768px) {
            &::after {
                position: absolute;
                content: "MENU";
                font-family: var(--ff-heading);
                font-size: var(--fs-100);
                padding-top: 0.25rem;
                padding-left: 0.25rem;
            }
        }
    }
    .navbar-toggler:focus,
    .navbar-toggler:active {
        outline: 0;
    }

    .nav-link {
        padding-block: 0;
    }


    .dropdown-toggle {
        pointer-events: none;
        &::after {
            content: unset;
        }
        // transition: transform var(--transition-duration) ease;
    }
    // .dropdown-toggle:not(.show)::after {
    //     transform: rotate(-90deg);
    // }

    .collapsing {
        transition: none !important;
    }


    @media (min-width:768px) {
        ul.nav-socials {
            padding-top: 2rem;
        }
    }

}
